.benefit {
    padding-top: 3em;
    padding-bottom: 3em;
}

.benefit__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.benefit__item {
    max-width: 350px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top 1.25em left 2.5em;
    padding: 2rem 0 2rem 5rem;
}

.benefit__item-1 {
    background-image: url(../../img/relogio.png);
}

.benefit__item-2 {
    background-image: url(../../img/dinheiro.png);
}

.item__title {
    color: var(--color-top);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}