.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
}

.container__title{
  font-family: var(--font-title);
  font-size: 25px;
}

.header__menu{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 1em;
}

ul[title]::before {
  content: attr(title);
  font-weight: 900;
  padding: 4px;
  margin-left: 0.8rem;
}

 .container__list{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 0.5rem;
}
.container__button:checked ~ .container__label > .header__menu{
    background-image: url("../img/menuFechado.png");
}

.container__button:checked ~ .container__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header-color);
}

.container__button{
    display: none;
}

header{
  position: relative;
}

.container__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 100vw;
}

.container__list, .container__item{
  padding: 1em;
}

.container__item > a{
  text-decoration: none;
  color: var(--color-standart);
  display: block;
}


